# Wagner_Whitin Method

In [1]:
#Demand entry

print("please enter your dynamic demand with SPACE as separator and at the end press ENTER!")
data_list = [int(x) for x in input("Enter period demand: ").split()]

#data visualization
n=len(data_list)
_index = [i+1 for i in range(n)]
d_list=[data_list[i] for i in range(n)]

print("... visualizing, please wait ...")
import pandas as pd
d_list.insert(0,'Demand')
_index.insert(0,'i')
Data= pd.Series(d_list,_index)
print("")
print(Data)
print("")

please enter your dynamic demand with SPACE as separator and at the end press ENTER!
Enter period demand: 220 280 360 140 270
... visualizing, please wait ...

i    Demand
1       220
2       280
3       360
4       140
5       270
dtype: object

In [2]:
#parameters
num7 = input("Please enter A(or K):")
K = float(num7)
num8 = input("Please enter H:")
H= float(num8)
#num9 = input("Please enter first inventory level:")
#inventory = int(num9)

Please enter A(or K):250
Please enter H:1

In [4]:
#calculating
print("")
print("... calculating, please wait ...")
print("")
print("the cost amounts (z) is : ")

#calculating c ( or z)
cost = [[0 for i in range(0,n)] for j in range(0, n)]

for i in range(0, n):
        for j in range(i , n):
            cost[i][j] += K
            for k in range(i + 1, (j + 1)):
                # print ("demand: ", k, "holding days: ", k - i)
                cost[i][j] += H * (k - i) * data_list[k]
                
#visualization
import pandas as pd
pd.DataFrame(cost)

... calculating, please wait ...

the cost amounts (z) is :

       0      1       2       3       4
0  250.0  530.0  1250.0  1670.0  2750.0
1    0.0  250.0   610.0   890.0  1700.0
2    0.0    0.0   250.0   390.0   930.0
3    0.0    0.0     0.0   250.0   520.0
4    0.0    0.0     0.0     0.0   250.0

In [6]:
print("")
print("... calculating, please wait ...")
print("")
print("creating decision space for each stage, and calculating optimal answer : ")

#Desion space for each i
De = [[0 for i in range(0,n)] for j in range(0, n)]

#f is optimal seprate answer for each i
#F consites of f(0)=0 as the first unite
F = [0 for j in range(0, n+1)]

for j in range(0,n):
    for i in range(0,j+1):
        De[i][j]=cost[i][j]+F[i]

            
    temp = De[0][j]
    for k in range (0,j+1):
            if (De[k][j]<temp):
                temp=De[k][j]
            
    F[j+1]=temp

print("")
print("f amounts are:")
print("")    
print(F)

print("")
print("Also, Decision space is:")  
pd.DataFrame(De)

... calculating, please wait ...

creating decision space for each stage, and calculating optimal answer :

f amounts are:

[0, 250.0, 500.0, 750.0, 890.0, 1140.0]

Also, Decision space is:

       0      1       2       3       4
0  250.0  530.0  1250.0  1670.0  2750.0
1    0.0  500.0   860.0  1140.0  1950.0
2    0.0    0.0   750.0   890.0  1430.0
3    0.0    0.0     0.0  1000.0  1270.0
4    0.0    0.0     0.0     0.0  1140.0

In [7]:
# tracking based on  which column & row were min in De(decision space)
# order programming

print("")
print("... calculating, please wait ...")
print("")
print("the order planing is : ")

order = [0 for j in range(0, n)]
TempOrd = data_list[n-1]

for j in range(n):
            if (De[n-j-1][n-j-1]==F[n-j]):
                order[n-j-1]=TempOrd
                TempOrd = data_list[n-j-2]
            else:
                TempOrd +=data_list[n-j-2]
                order[n-j-1]=0
order

... calculating, please wait ...

the order planing is :

[220, 280, 500, 0, 270]

In [8]:
#better visualization
print("")
print("... calculating, please wait for better visualization ...")

order.insert(0,'Order')
ORD= pd.Series(order,_index)
print("")
print("Order plan:")
print("")
print(ORD)
print("")

... calculating, please wait for better visualization ...

Order plan:

i    Order
1      220
2      280
3      500
4        0
5      270
dtype: object